wifi_ssid: "MyWiFi"
wifi_password: "super_secret"
fallback_ap_password: "fallback1234"
api_encryption_key: "00000000000000000000000000000000"
ota_password: "change-me"
web_username: "admin"
web_password: "admin1234"
mqtt_username: "mqtt"
mqtt_password: "mqtt_password"
